/* Seperate css file specifically for the game screen, since the hud will have to be styled differently and seperating is easier.*/

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

#canvas
{
    display: block;
    width:100vw;
    height: 100vh;
}

#hud
{
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}