/* Seperate css file specifically for the game screen, since the hud will have to be styled differently and seperating is easier.*/

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
}


#hud
{
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}