/* Seperate css file specifically for the game screen, since the hud will have to be styled differently and seperating is easier.*/

@font-face
{
    font-family: 'ArcadeClassic';
    src: url('/assets/fonts/VectorBattle-e9XO.ttf') format('truetype');
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}


#canvas
{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}

#hud
{
    position: fixed;
    top: 12px;
    left: 12px;
    right: 12px;
    z-index: 10;
    pointer-events: none;
    color: white;
    font-family:'ArcadeClassic', sans-serif;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

#timer
{
    position: absolute;
    right: 0;
    top: 0;
}